{% extends "base.html" %}

{% block content %}

<form role="form" method="POST">
   
<div class="container">
  <h1>Question Number {{game.current_index}}: {{question.title}}</h1>
  <p>{{question.prompt}}</p>
  
  <h3>Your Score: {{score}} / 3</h3>
  
  <table class="table">
    <thead>
      <tr>
        <th> Correct Order </th>  
        <th> Your Response </th>  
      </tr>
    </thead>
    
    
    <tbody>
      {% for item in question["correct_order"] %}
        {% if item == question.user_response[loop.index0] %}
          <tr class="success">
        {% else %}
          <tr class="danger">
        {% endif %}
          
          <td>
              {{loop.index}}. {{item}}
          </td>
          <td>
              {{loop.index}}. {{question.user_response[loop.index0]}}      
          </td>
        </tr>
      
      {% endfor %}      
      
    </tbody>
    
  </table>

  <h3>In case you were wondering...</h3>


  <table class="table">
    <thead>
      <tr>
        <th></th>  
        {% for item in question["correct_order"] %}  
            <th>{{item}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>Actual Value</td>  
        {% for item in question["values"] %}  
            <td>{{item}}</td>
        {% endfor %}
        </tr>
        <tr>
        <td>Source</td>  
        {% for item in question["sources"] 
        %}  
            <td><a href="{{item}}">{{question.source_names[loop.index0]}}</a></td>
        {% endfor %}
        </tr>
    </tbody>
  </table>

  <table class="table">
    <tbody>
        <tr>
          <td>
              {% if game_over %}
                <button type="submit" class="btn btn-lg btn-success btn-block" align="center">Game Summary</button>
              {% else %}
                <button type="submit" class="btn btn-lg btn-info btn-block" align="center">Next Question</button>
              {% endif %} 
          </td>
        </tr>
    </tbody>
  </table>
</div>
  

  
</form>
{% endblock %}